.blogs-page {
  /*border: 1px solid blue;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogs-page__blog-link {
  color: inherit;
}

.blogs-page__blog-list {
  /*border: 1px solid green;*/
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}