.nav-bar__nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-bar__nav-list {
  list-style: none;
  padding: none;
  display: flex;
}

.nav-bar__nav-item {
  margin-right: 12px;
  font-size: 18px;
}

.active {
  color: #005eff;
  border-bottom: 1px solid #ababab;
}