.blog-post {
  /*border: 1px solid green;*/
  position: absolute;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post__title {
  color: #F5F5F5;
  font-size: 48px;
}

.blog-post__info-box {
  display: flex;

}

.info-box__img {
  width: 500px;
}

.info-box__user-box {
  background-color: #F5F5F5;
  /*padding: 24px 48px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 0px 2px 0px #444;
}

.user-box__content-wrapper {
  width: 100%;
  margin: 0 48px;
}

.user-box__category {
  margin-top: 0;
  padding-bottom: 12px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ababab;
}

.user-box__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.user-info__img {
  border-radius: 50%;
}

.user-info__author {
  margin-bottom: 0;
}

.user-info__date {
  margin-top: 12px;
}

.blog-post__body {
  margin-top: 12px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post__body__content {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: .5px;
  width: 90%;
}